# Backend API Gateway URL (Cloudflare Worker)
PUBLIC_API_URL=https://api.postlain.com

# Public R2 CDN Base
PUBLIC_R2_URL=https://pub-1d0bee5762b4432cbce8cd4c1c010fa4.r2.dev

# Supabase Credentials
PUBLIC_SUPABASE_URL=https://muemwfqynfljpmvxmpep.supabase.co
PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im11ZW13ZnF5bmZsanBtdnhtcGVwIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MTgzODcxNDEsImV4cCI6MjAzMzk2MzE0MX0.l6QjM6WbYg7K87XWl9a_0zT3L8W7p0n1x2y3z4
